# Packages to install 

#RKTK.jl
import Pkg; Pkg.add("DZOptimization")
import Pkg; Pkg.add("MultiFloats")
import Pkg; Pkg.add("RungeKuttaToolKit")

#RKTKTests.jl
import Pkg; Pkg.add("AssemblyView")
import Pkg; Pkg.add("DZLinearAlgebra")  #* DZLinearAlgebra (not found in project, manifest or registry)